<% if session[:user_id] %>
  <h2> Welcome Trainer! Please choose a new action: </h2> 
  
  
  <h2><%= link_to  "Logout", logout_path, method: :delete %></h2>

  <% else %> 
  <h2> Welcome to the poke_tm manager</h2>
  <h3> Please login or signup </h3> 
  <h3> <%= link_to "Login", login_path %> </h3>
  <h3> <%= link_to 'Signup', signup_path %> </h3> 
<% end %>
