<h1> Here are all avaliable TMS in this database </h1> 
<body>
<table>
<thead>
  <tr>
    <th>Name</th>
    <th>Element</th>
    <th>Rarity</th> 
  </tr>
</thead>

<tbody>
  <% @tms.each do |tm| %>
    <tr>
      <td><%= tm.name %></td>
      <td><%= tm.element %> </td>
      <td><%= tm.rarity %> </td>
      </tr>
  <% end %>
 
</tbody>
</table>
<br>
<%= render 'welcome/form' %>
</body>