<style> 
body {
  background-image: url("https://pm1.narvii.com/5818/90e76562781ac9de4c53786c72ddf359cb780857_hq.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
</style

<body>
<table>
<thead>
  <tr>
    <th>Name</th>
    <th>Element</th>
    <th>Rarirty</th> 
  </tr>
</thead>

<tbody>
  <% @tms.each do |tm| %>
    <tr>
      <td><%= tm.name %></td>
      <td><%= tm.element %> </td>
      <td><%= tm.rarity %> </td>
      </tr>
  <% end %>
 
</tbody>
</table>
<br>
<%= link_to "Return Home", root_path %>
</body>