  <%= render 'welcome/form' %>
  <div class='welcome-page'>
    <h2> Here is your current Pokemon group </h2> 

   <% @pokemons.each do |pokemon| %>
    <li>
      <%= link_to pokemon.name, user_pokemon_path(@user, pokemon)%>
    </li>
   <% end %>
  </div>
