<h2> Here is your current Pokemon group! </h2> 

<tbody>
    <% @pokemons.each do |pokemon|%>
    <ul>
    <li><%= link_to pokemon.name, user_pokemon_path(@user, pokemon) %></li>
   </ul>
    <% end %>