 <h1> Here is your current Pokemon group </h1> 
 <table>
 <tr>
   <th>Pokemon Name</th>
 </tr>
 <tr>
   <% @pokemons.each do |pokemon| %>
    <td><%= link_to pokemon.name, user_pokemon_path(@user, pokemon)%></td>
    </tr>
   <% end %>
 </table>
 <%= render 'welcome/form' %>