 <table>
 <thead>
   <tr>
     <th>Here is your current group</th>
   </tr>
 </thead>
 <tbody>
   <% @pokemons.each do |pokemon| %>
     <tr>
       <td><%= link_to pokemon.name, user_pokemon_path(@user, pokemon)%></td>
    </tr>
   <% end %>
 </tbody>
</table>