<h1>Your current group</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @pokemons.each do |pokemon| %>
      <tr>
        <td><%= pokemon.name %></td>
        <%= link_to "Delete", pokemon, method: :delete, data: { confirm: "Really?" } %>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pokemon', new_user_pokemon_path %>
