<style> 
table, th, td {
  border: 1px solid black;
}
</style>

<table>
 <tr>
   <th>Pokemon</th>
</tr>
 <tr>
 <td><%= @pokemon.name %></td>
 </tr>
</table>
<br>

<table>
 <tr>
   <th>Linked TM</th> 
   <th>Element</th>
   <th>Rarity</th>
</tr>
 <tr>
 <td><%= @pokemon.tm.name %></tdr> 
 <td><%= @pokemon.tm.element %> </td>
 <td><%= @pokemon.tm.rarity %></td> 
 </tr>
</table>
