<h1> Here is your selected pokemons information </h1> 

<h2>Name:  <%= @pokemon.name %> </h2> <br>

<h2>Equipped TM: </h2>  <br> 
<h2>TM: <%= @pokemon.tm.name %> </h2> <br> 
<h2>Element: <%= @pokemon.tm.element %> </h2> <br> 
<h2>Rarity: <%= @pokemon.tm.rarity %> </h2> <br> 


# delete in pokemon controller needs to be fixed 
