@import url('https://fonts.googleapis.com/css?family=Signika&display=swap');

body {
    background-color: #F93318;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   }


 .welcome-page{
    font-family: 'Signika', sans-serif;
    text-align: center;
}.welcome-page h1{
    font-size: 100px;
    font-weight: 50;
 }.welcome-page li{
     text-decoration: none;
 }



 a {
    color: #000;
    text-decoration: none;
  }