@import url('https://fonts.googleapis.com/css?family=Signika&display=swap');
@import './welcome.scss';

body {
    background-color: #F93318;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Signika', sans-serif;
   }


   a {
    color: #000;
    text-decoration: none;
  }


