/////not logged in 
.welcome-page ul{
    display: inline-block;
 }

 .welcome-page{
    text-align: center;
    h1{
        font-size: 100px;
        font-weight: 50;
        text-align: center;
    }
    ul{
        display: inline-block;
     }
    li{
        text-decoration: none;
        margin-bottom: 1%;
        font-size: 30px;
        text-align: left;
        margin-left: 36%;
    }
 }

 //////////logged in 

 